#app-navbar {
  background-color: black;
}

#navbar-pills .nav-item a {
  color: #C3DCD1;
}

#navbar-pills .nav-link.active {
  background-color: #2B6050;
}

.navbar-brand {
  color: #C3DCD1;
}

#login-form {
  margin-left: 10px;
}

#jumbotron-container {
  margin-top: 56px;
  margin-bottom: -5px;
  background-image: url('./images/mat-reding-2HjknxI2lgc-unsplash.jpg'); 
  background-size: cover; 
  background-repeat: no-repeat;
  text-align: center;
}

#jumbo-internal {
  background-color: #1B1E1D;
  border-radius: 25px;
  padding: 10px;
  color: #C3DCD1;
}

#email-list {
  margin: 0px 20px;
  width: 75%;
}

#email-list-button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#cards-container {
  padding: 10px;
  background-color: #C3DCD1;
}

#cards-title {
  text-align: center;
}

.card {
  margin: 10px;
}

#download-container {
  background-color: #2B6050;
  text-align: center;
  padding: 100px 0px;
}

#download-icon {
  height: 150px;
  width: 200px;
}