body {
	background-image: url(./images/jerry-zhang-VzqtVMsY24g-unsplash-1920_1281.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100%;
	display: flex;
}